/*img {
    display: block;
    margin: auto;
    width: 40%;
}

body {
    background-color: #e3f2fd;
}

h1 {
    color: brown;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
    text-align: center;
}

/*
pre, button, input, .btn, .wasDevoured {
	display: block;
    margin: auto;
    width: 50%;
    text-align: center;
    font-family: verdana;
    font-size: 15px;
    /*background-color: orange;*/
img, strong {
    display: block;
    text-align: center;
}


.jumbotron {
    background-color: orange;
}

#devourOption, #wasDevoured {
	/*display: block;*/
    /*margin: auto;*/
	border: 3px solid brown;
    height: 75%;
	/*position: absolute;*/
    /*padding: 5px;*/
    background-color: orange;
}

#devourOption { 
    left: 0px;
    width: 33%;
    height: 300px;
}

#wasDevoured {
    right: 0px;
    width: 33%;
    height: 300px;
}

#suggestions {
    width: 30%;
	display: block;
    margin: auto;
}*/